/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';
  /* Project id 3634374 */
  src: url('//at.alicdn.com/t/c/font_3634374_es8cwwxeagb.woff2?t=1662474974226') format('woff2'),
    url('//at.alicdn.com/t/c/font_3634374_es8cwwxeagb.woff?t=1662474974226') format('woff'),
    url('//at.alicdn.com/t/c/font_3634374_es8cwwxeagb.ttf?t=1662474974226') format('truetype');
}

.iconImage {
  font-family: "iconfont" !important;
  font-size: 88px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-input-affix-wrapper {
  border: none;
  box-shadow: none;

  &:focus {
    border: none;
    box-shadow: none;
  }

  &:hover {
    border: none;
  }

  &:not(.ant-input-affix-wrapper-disabled):hover {
    box-shadow: none;
  }

  .ant-input {
    background-color: rgb(221, 221, 221);
  }
}

.ant-tabs {
  background-color: inherit;

  .ant-tabs-nav {
    width: 40%;

    .ant-tabs-tab {
      margin-top: 0 !important;
      padding: 8px;

      .ant-tabs-tab-btn {
        color: rgb(72, 72, 72);
        padding: 0 10px;
        text-align: left;
      }
    }

    .ant-tabs-tab-active {

      .ant-tabs-tab-btn {
        background-color: rgb(0, 100, 225);
        border-radius: 4px;
        color: white;
        width: 100%;
        height: 28px;
        line-height: 28px;
      }
    }

    .ant-tabs-ink-bar {
      display: none;
    }
  }

  .ant-tabs-content {
    .ant-tabs-tabpane {
      .contentBox {
        padding-right: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}